.footer{
    padding: 0px 8px 24px;

    &__container{
        padding-bottom: 24px;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p:last-child{
            margin-bottom: 20px;
        }
    }

    &__logo{
        width: 80px;
        margin: 0 auto 20px;
    }

    &__links{
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        justify-content: center;

        @media (max-width: 768px){
            flex-wrap: wrap;
        }

        a{
            display: inline-block;
            color: #F9F9F9;
            margin: 10px 5px;
            padding: 1px 6px;
            text-decoration: none;
        }
    }
}